.custom-file-input ~ .custom-file-label::after {
    content: "Elegir";
}
#label2{
width: 50px;
}
#url{
    position: relative;
    left: 4%;
    width: 100%;
    }
#carga{
position: absolute;
top: 10%; left: 4%;
}
#comandos{
    position: absolute;
    top: 50%; left: 4%;
}
#lista{
    width: 22rem;
    height: 250px;
    overflow-y: scroll;
   
  }
#contenido{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 55%;
    height: 80%;
}


body {
    height: 100%;
    width: 100%;
    background-image: url('https://fondosmil.com/fondo/17542.jpg');
  }


